/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

#time,#dato,#oldTime{
    text-align: center;
    display: block;
    text-align: center;
    color: #1015;
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    padding: 1rem;
    letter-spacing: .5rem;
}
#date{
    text-align: center;
    display: block;
    text-align: center;
    color: #1015;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 1rem;
}

h1,h2{
    color: rgb(0, 0, 0);
    font-family: 'Headland One', serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.ora{
    font-size: 4rem;
}
.mino{
    font-size: 2rem;
}
.seko{
    font-size: 1rem;
}
.week{
    font-size: 5rem;
}
.times{
    grid-gap: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  padding:.5rem;
}
#date,#oldTime{
    text-align: center;
    font-size: 1.5rem;
}

.colorfull{
    border: 1px solid black;
    box-shadow: 7px 4px rgba(0,0, 0, .1);
}
